<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (unauthorized) { %>
    <p style="color: red"><%= unauthorized %></p>
    <% } %>

    <form method="POST" action="/messages/new">
      <ul>
        <li>
          <label for="title">Post Title:</label>
          <input type="text" id="title" name="title" required />
        </li>
        <br />
        <li>
          <label for="message">Message:</label>
          <input type="text" id="message" name="message" required />
        </li>
        <br />
        <li>
          <button type="submit">Submit</button>
        </li>
      </ul>
    </form>
  </body>
</html>
