<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <label for="firstname">First Name</label>
      <input
        id="firstname"
        name="firstname"
        placeholder="First Name"
        type="text"
        value="<%= formData ? formData.firstname : '' %>"
      />
      <label for="lastname">Last Name</label>
      <input
        id="lastname"
        name="lastname"
        placeholder="Last Name"
        type="text"
        value="<%= formData ? formData.lastname : '' %>"
      />
      <label for="username">Username</label>
      <input
        id="username"
        name="username"
        placeholder="User Name"
        type="text"
        value="<%= formData ? formData.username : '' %>"
      />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />

      <label for="passwordConfirm">Password</label>
      <input id="passwordConfirm" name="passwordConfirm" type="password" />
      <button>Sign Up</button>
    </form>

    <% if (errors) { %>
    <ul>
      <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
